## Connecting to the Database

In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import inspect

#LOCAL
# engine = create_engine('postgresql://postgres:postgres@localhost:5432/mimic')

#DEMO DATA 
# engine = create_engine('postgresql+psycopg2://btvdksxhyqtmjs:74db647f02a6f661c9a9ef888e24cebe9b17cfd2cc7566c51556096ec9977964\
# @ec2-54-211-255-161.compute-1.amazonaws.com/dc8973qq7atsb1')

#Entire MIMIC iii DATA
engine = create_engine('postgresql+psycopg2://njolzisalnylqx:31b9211af0689fdc75c296546539fd3d86b8c8135d277924a0659bcfe735adb3\
@ec2-3-219-135-162.compute-1.amazonaws.com/d6di1ovvoadbog')

## Pushing single the csv in the database

In [6]:
# table_name="ADMISSIONS"
# df=pd.read_csv('../../MIMIC/data/'+table_name+'.csv.gz')
# df.to_sql(table_name, engine)

976

## Add all tables at once

In [9]:
import os
import glob

path = '../../MIMIC/data/'
extension = 'csv.gz'
os.chdir(path)
result = glob.glob('*.{}'.format(extension))

In [10]:
result.remove("CHARTEVENTS.csv.gz")
result.remove('INPUTEVENTS_MV.csv.gz')
result

['DATETIMEEVENTS.csv.gz',
 'CPTEVENTS.csv.gz',
 'PATIENTS.csv.gz',
 'DIAGNOSES_ICD.csv.gz',
 'CAREGIVERS.csv.gz',
 'PRESCRIPTIONS.csv.gz',
 'INPUTEVENTS_MV.csv.gz',
 'DRGCODES.csv.gz',
 'D_ICD_DIAGNOSES.csv.gz',
 'D_LABITEMS.csv.gz',
 'TRANSFERS.csv.gz',
 'ADMISSIONS.csv.gz',
 'D_ITEMS.csv.gz',
 'CALLOUT.csv.gz',
 'D_CPT.csv.gz',
 'LABEVENTS.csv.gz',
 'PROCEDURES_ICD.csv.gz',
 'SERVICES.csv.gz',
 'D_ICD_PROCEDURES.csv.gz',
 'ICUSTAYS.csv.gz',
 'INPUTEVENTS_CV.csv.gz',
 'PROCEDUREEVENTS_MV.csv.gz',
 'NOTEEVENTS.csv.gz',
 'OUTPUTEVENTS.csv.gz',
 'MICROBIOLOGYEVENTS.csv.gz']

In [18]:
for file in result:
    table_name=file.split(".")[0]
    df=pd.read_csv('../../MIMIC/data/'+table_name+'.csv.gz')
    df.to_sql(table_name, engine)
    print(table_name+" push complete.")

D_ITEMS push complete.
CALLOUT push complete.
D_CPT push complete.
LABEVENTS push complete.
PROCEDURES_ICD push complete.
SERVICES push complete.
D_ICD_PROCEDURES push complete.
ICUSTAYS push complete.

/var/folders/h0/4q407xyn35jfdp8t8wwbrpp40000gn/T/ipykernel_80169/2844024254.py:3: DtypeWarning: Columns (7,9,17,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('../../MIMIC/data/'+table_name+'.csv.gz')

INPUTEVENTS_CV push complete.
PROCEDUREEVENTS_MV push complete.

/var/folders/h0/4q407xyn35jfdp8t8wwbrpp40000gn/T/ipykernel_80169/2844024254.py:3: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('../../MIMIC/data/'+table_name+'.csv.gz')

NOTEEVENTS push complete.
OUTPUTEVENTS push complete.
MICROBIOLOGYEVENTS push complete.

## Check if the Table exists

In [ ]:
table_name = "PROCEDURES_ICD"

In [ ]:
sqlalchemy.inspect(engine).has_table(table_name)

## Reading the pushed csv

In [23]:
df = pd.read_sql_query('''
  SELECT *
      FROM "'''+table_name+'''" N;
''', engine)

print(df.shape)

(240095, 6)

In [24]:
df.head(20)

    index  ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM  ICD9_CODE
0       0     944       62641   154460        3       3404
1       1     945        2592   130856        1       9671
2       2     946        2592   130856        2       3893
3       3     947       55357   119355        1       9672
4       4     948       55357   119355        2        331
5       5     949       55357   119355        3       3893
6       6     950        9545   158060        1         34
7       7     951       28600   189217        1       3613
8       8     952       28600   189217        2       3615
9       9     953       28600   189217        3       3961
10     10     954       16994   115444        1       3601
11     11     955       16994   115444        2       3606
12     12     956       16994   115444        3       3723
13     13     957       16994   115444        4       8856
14     14     958       16994   115444        5       9671
15     15     959       16994   115444        6       9915
16     16     960       13579   186290        1       3612
17     17     961       13579   186290        2       3615
18     18     962       13579   186290        3       3961
19     19     963       13579   186290        4       3723